{% if form %}
    <h1>Contact Us</h1>
    <p>Please fill in the form below to contact us.</p>
    <form action="" method="post">{% csrf_token %}
        {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
        {% for fieldset in form.fieldsets %}
            <fieldset class="{{ fieldset.classes }}">
                {% if fieldset.legend %}
                    <legend>{{ fieldset.legend }}</legend>
                {% endif %}
                {% if fieldset.description %}
                    <p class="description">{{ fieldset.description }}</p>
                {% endif %}
                <dl class='contactform'>
                    {% for field in fieldset %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <dt class="fieldWrapper" {{ field.row_attrs }}>
                                {{ field.label_tag }}
                            </dt>
                            <dd class="fieldWrapper">
                                {{ field }}{% if field.errors %}<br />{{ field.errors }}{% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </fieldset>
        {% endfor %}
        <input type="submit" value="Send"/>
    </form>
{% else %}
    <h1>Message sent successfully.</h1>
    <h2>{{ contact.thanks }}</h2>
{% endif %}
